
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;

}

.container-fluid .header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 20px;
} 

.glav_img img{
   margin-top: 30px;
 
}


    /* Цвета ссылок navbar */
    .navbar-light .navbar-brand {
        color: #0088c6;
        font-size: 1.3em;
        font-weight: 500;
      }
      
      .navbar-light .navbar-brand a:visited {
        color:#0088c6;
      }
      
      .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color:#0088c6;
      }
      
      .navbar-light .navbar-nav .nav-link {
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        color:#0088c6;
      }
      
      .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #0088c6;
        border: 1px solid #0088c6;
        border-radius: 5px;
        height:  100%;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
       }
      
      
       .btn-outline-success {
        color: #0088c6;
        border-color: #0088c6;
      
       }
      
       .btn-outline-success:hover {
        background-color: #0088c6;
        color: #fff;
        border-color: #0088c6;
       
       }
      
       .navbar-light .navbar-nav .nav-link {
        font-weight: 600;
      }
  
      .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover  {
        color: #0088c6;
      }

      
   
    
    .navbar-toggler-icon span {
          margin-top: 0px;
          display: flex;
          text-align: left;
          color: #0088c6;
          font-size: 2rem;
          float:right;
      }


  .container-fluid .soderjimoe {
    max-width:960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.soderjimoe .glav_img {
   margin: 0 auto;
       
      
    }

   


    .soderjimoe .glav_text {

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 30px;
     
        
           
         
           color: #0088c6;
           font-size: 1.3rem;
          
     }

     .glav_text h2 {
       text-align: center;
     }

     .glav_text p {
      text-align: center;
    }






    