html,
body {
  height: 500px;
  max-height: 500px;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding:0px;
    max-height: 500px;

}

.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
  height: 100% !important;
  width: 100% !important;
  
}