
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}



.glav_img img{
   margin-top: 30px;
 
}


    /* Цвета ссылок navbar */
    .navbar-light .navbar-brand {
        color: #0088c6;
        font-size: 1.3em;
        font-weight: 500;
      }
      
      .navbar-light .navbar-brand a:visited {
        color:#0088c6;
      }
      
      .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color:#0088c6;
      }
      
      .navbar-light .navbar-nav .nav-link {
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        color:#0088c6;
      }
      
      .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #0088c6;
        border: 2px solid #0088c6;
        border-radius: 10px;
       }
      
      
       .btn-outline-success {
        color: #0088c6;
        border-color: #0088c6;
      
       }
      
       .btn-outline-success:hover {
        background-color: #0088c6;
        color: #fff;
        border-color: #0088c6;
       
       }
      
       .navbar-light .navbar-nav .nav-link {
        font-weight: 600;
      }
  
      .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover  {
        color: #0088c6;
      }

      
   
    
    .navbar-toggler-icon span {
          margin-top: 0px;
          display: flex;
          text-align: left;
          color: #0088c6;
          font-size: 2rem;
          float:right;
      }


.soderjimoe {
    max-width:960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}



.soderjimoe .glav_img {
        margin-top: 30px;
    float: left;
    border-radius: 1px solid black;
       
      
    }

   


     .glav_text {

        display: block;
        text-align: left;
        
        margin-top: 30px;
     
                   text-align: center;
           
         
           color: #0088c6;
           font-size: 1.3rem;
          
     }


     span {
         display: flex;;
     }

     span h1 {
         font-size: 1.2rem;
     }

     span p {
        font-size: 1.2rem;
    }